# textblob
# vaderSentiment
# nltk
# streamlit
# pandas
# plotly
# matplotlib
# wordcloud
# tensorflow
# scikit-learn

streamlit
tensorflow
pillow
numpy
streamlit-folium
folium
scikit-image
streamlit_option_menu